.body {
  min-height: 90vh;
  background-color: #e8e8e3;
  padding-top: 5vh;
}

.content {
  width: 95%;
  background-coloR: white;
  min-height: 80vh;
  margin: auto;
  padding: 5vh;
  border-radius: 10px;
}